{
  "sourceMaps": false,

  "ignore": [
    "node_modules/**"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "commonjs",
        "targets": {
          "browsers": [
            ">0.25%",
            "ie 11"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
